{% load static %}

 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'dash-index' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
        
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-envelope"></i>
          <span>Pay Dues/Contributions</span>
        </a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'create_post' %}">
          <i class="bi bi-dash-circle"></i>
          <span>Author & Post Article</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-file-earmark"></i>
          <span>Change Password</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->