{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- <title>Index - Company Bootstrap Template</title> -->
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'blog/img/favicon.ico' %}" rel="icon">
  <link href="{% static 'blog/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">

  {% if title %}
    <title>Pennbreeds Club of Opobo - {{ title }}</title>
  {% else %}
    <title>Pennbreeds Club of Opobo</title>
  {% endif %}
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center">

      <a href="{% url 'blog-home' %}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'blog/img/logo.png' %}" alt="">
        <h1 class=" d-none d-md-block">Pennbreeds</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'blog-home' %}" class="active">Home</a></li>
        
          <!-- <li><a href="#">Gallery</a>
          </li> -->
          <li class="dropdown"><a href="#"><span>Gallery</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Events</a></li>
              <li><a href="#">Birthdays</a></li>
              <li><a href="#">Sports</a></li>
               <li><a href="#">Monthly Meeting</a></li>
              <!--<li><a href="#">Deep Dropdown 5</a></li> -->
            </ul>
          </li>
          <!-- <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="pricing.html">Pricing</a></li> -->
          <li><a href="{% url 'blog-members' %}">Members</a></li>
          <li class="dropdown"><a href="#" target="_self"><span>About</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="{% url 'blog-execos' %}">Leadership</a></li>
              <li><a href="{% url 'blog-about' %}">Who We Are</a></li>
             
            </ul>
          </li>
          <li><a href="{% url 'blog-blog' %}">Blog</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <!-- Navbar Right Side -->
      <div class="header-social-links d-flex">
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'dash-index' %}">DashBoard</a>
            <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="nav-item nav-link ms-2 bg-danger text-white">Logout</button> 
            </form>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
        
        <!-- <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> -->

      </div><!--End Navbar Right Side -->

    </div>
  </header>

  <main class="main">
    <div class="row">
       
    {% block content %}
    
    {% endblock %}
       
  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="#" class="logo d-flex align-items-center">
            <span class="sitename">Pennbreeds Club</span>
          </a>
          <div class="footer-contact pt-3">
            <p>40 Elioparanwo,</p>
            <p>off Ada-Goerge Road,</p>
            <p>Port Harcourt</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+234 (0) 8035469198</span></p>
            <p><strong>Email:</strong> <span>contact@pennbreedsclu.org</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Who We Are</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Members</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>What We Do</h4>
          <ul>
            <li><a href="#">Scholarship</a></li>
            <li><a href="#">Grants</a></li>
            <li><a href="#">Recreation</a></li>
            <li><a href="#">Retreat</a></li>
            <!-- <li><a href="#">Graphic Design</a></li> -->
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form action="#" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Pennbreedsclub</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://checkengineer.com/">checkengineer.com</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'blog/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'blog/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'blog/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'blog/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'blog/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'blog/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'blog/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'blog/js/main.js' %}"></script>

</body>

</html>