{% for profile in profiles %}
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
      <div class="team-member">
        <div class="member-img">
          <img src="{{ profile.image.url }}" class="img-fluid" alt="{{ profile.user.username }}">
          <div class="social">
            {% if profile.twitter_url %}
              <a href="{{ profile.twitter_url }}"><i class="bi bi-twitter"></i></a>
            {% endif %}
            {% if profile.facebook_url %}
              <a href="{{ profile.facebook_url }}"><i class="bi bi-facebook"></i></a>
            {% endif %}
            {% if profile.instagram_url %}
              <a href="{{ profile.instagram_url }}"><i class="bi bi-instagram"></i></a>
            {% endif %}
            {% if profile.linkedin_url %}
              <a href="{{ profile.linkedin_url }}"><i class="bi bi-linkedin"></i></a>
            {% endif %}
          </div>
        </div>
        <div class="member-info">
          <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
          <span>{{ profile.title }}</span>
        </div>
      </div>
    </div><!-- End Team Member -->
{% empty %}
    <p>No members found.</p>
{% endfor %}
